@import 'tailwindcss';

:root {
  background-color: #fdfcf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-purple: #7268ff;
  --color-orange: #ffb522;
  --color-green: #4ac24b;

  --drop-shadow-hover: 3px 10px 20px #bdbbb4;
}
